<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
         
<script>
     function valid()
     {
     if(form.name.value=="")
     {
        alert("**Enter your Name**"); 
        form.name.focus();
        return false;
     }
     if(!isNaN(form.name.value))
     {
         alert("** Fill the Name in characters **");
         form.name.focus();
         return false;
     }
     if(form.address.value=="")
     {
        alert("**Enter your Address**"); 
        form.address.focus();
        return false;
     }
     if(form.gender.value=="")
     {
        alert("**Select your Gender**"); 
        form.gender.focus();
        return false;
     }
     if(form.dob.value=="")
     {
        alert("**Enter your DOB**"); 
        form.dob.focus();
        return false;
     }
         enterDate=new Date(form.dob.value);
         curDate= new Date();
         if(curDate<enterDate)
         {
             alert("Invalid DOB");
             form.dob.focus();
             return false;
         }
     if(form.qualification.value=="")
     {
        alert("**Enter your Qualification**"); 
        form.qualification.focus();
        return false;
     }
     if(!isNaN(form.qualification.value))
     {
         alert("**Must be in characters**");
         form.qualification.focus();
         return false;
     }
     if(form.experience.value=="")
     {
        alert("**Enter your Experience**"); 
        form.experience.focus();
        return false;
     }

     if(form.category.value=="")
     {
        alert("**Select your Category**"); 
        form.category.focus();
        return false;
     }

     if(form.description.value=="")
     {
        alert("**Enter your Description**"); 
        form.description.focus();
        return false;
     }
     if(!isNaN(form.description.value))
     {
         alert("**Must be in characters**");
         form.description.focus();
         return false;
     }
     if(form.phone.value=="")
     {
        alert("**Enter your phonenumber**"); 
        form.phone.focus();
        return false;
     }
     var a=form.phone.value;
     var b=form.adhar.value;
     if(isNaN(a))
     {
         alert("**Phonenumber must be in numbers**");
         form.phone.focus();
         return false;
     }
     if(a.length<10)
     {
      alert("**Phonenumber must contain 10 numbers**");
      form.phone.focus();
     return false;
     }
     if(a.length>10)
     {
      alert("**Phonenumber must contain 10 numbers**");
      form.phone.focus();
     return false;
     }
     if(form.email.value=="")
     {
        alert("**Enter your Email**"); 
        form.email.focus();
        return false;
     }
     var regularExpression = new RegExp("^[a-z]+(\.[a-z0-9_\+-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*\.([a-z]{2,4})$");
     if (!regularExpression.test(form.email.value))
     {
         alert("Enter a valid Email ID.For example:'name@gmail.com'..");
         form.email.focus();
         return false;
     }
     if(form.image.value=="")
     {
        alert("**Please upload Photo**"); 
        form.image.focus();
        return false;
     }
     if(form.adhar.value=="")
     {
        alert("**Enter your Adhar**"); 
        form.adhar.focus();
        return false;
     }
     if(isNaN(b))
     {
         alert("**Adharnumber must be in numbers**");
         form.adhar.focus();
         return false;
     }
     if(b.length<12)
     {
      alert("**Adharnumber must contain 12 numbers**");
      form.adhar.focus();
     return false;
     }
     if(a.length>12)
     {
      alert("**Adharnumber must contain 12 numbers**");
      form.adhar.focus();
     return false;
     }
     return true;
 }
 function check()
 {
     var image = document.getElementById("image");
     var size =parseFloat(image.files[0].size / (1024)).toFixed(50); 
     if(size > 50 ) {
     alert("Please select image size less than 50 kb");
     }
 }
     </script>
    
</head>

<body>

     {% include "adminmenu.html" %}


    <!-- MAKE AN APPOINTMENT -->
 <section id="appointment" data-stellar-background-ratio="3">
    <div class="container">
         <div class="row">

              <div class="col-md-6 col-sm-6">
                   <img src="{% static 'images/mentalform01.webp' %}" width="650px" height="1045px" class="img-responsive1" alt="">
              </div>

              <div class="col-md-6 col-sm-6">
                   <!-- CONTACT FORM HERE -->
                   <form id="appointment-form" name="form" onsubmit="return valid()" role="form" method="post" enctype="multipart/form-data" action="/addexpert1/">
                         {% csrf_token %}
                        <!-- SECTION TITLE -->
                        <div class="section-title wow fadeInUp" data-wow-delay="0.4s">
                             <h2>&nbsp;Expert</h2>
                        </div>

                        <div class="wow fadeInUp" data-wow-delay="0.8s">
                            <div class="col-md-12 col-sm-12">
                                 <input type="text" class="form-control" id="expid" name="id" value="{{eid}}" placeholder="Id">
                            </div>

                        <div class="wow fadeInUp" data-wow-delay="0.8s">
                             <div class="col-md-12 col-sm-12">
                                  
                                  <input type="text" class="form-control" id="name" name="name" placeholder="Full Name">
                             </div>

                             <div class="wow fadeInUp" data-wow-delay="0.8s">
                                <div class="col-md-12 col-sm-12">
                                
                                    <textarea class="form-control" rows="3" id="message" name="address" placeholder="Address"></textarea>
                                </div>


                             <div class="col-md-12 col-sm-12">
                                  <label for="select">Gender</label>
                                  <select class="form-control" name="gender">
                                       <option>Male</option>
                                       <option>Female</option>
                                       <option>Others</option>
                                  </select>
                             </div>

                             

                             <div class="col-md-12 col-sm-12">
                                <label for="date">Date Of Birth</label>
                                <input type="date" name="dob" value="" class="form-control">
                           </div>

                            <div class="wow fadeInUp" data-wow-delay="0.8s">
                                <div class="col-md-12 col-sm-12">
                                
                                     <input type="text" class="form-control" name="qualification" placeholder="Qualification">
                                </div>

                                <div class="wow fadeInUp" data-wow-delay="0.8s">
                                    <div class="col-md-12 col-sm-12">
                                    
                                         <input type="text" class="form-control" name="experience" placeholder="Experience">
                                    </div>

                                    <div class="col-md-12 col-sm-12">
                                        <label for="select">Category</label>
                                        <select class="form-control" name="category">
                                             <option>Mental_Ability</option>
                                             <option>Sex_Education</option>
                                        </select>
                                   </div>

                                <div class="wow fadeInUp" data-wow-delay="0.8s">
                                    <div class="col-md-12 col-sm-12">
                                    
                                         <input type="text" class="form-control" name="description" placeholder="Description">
                                    </div>

                                <div class="col-md-12 col-sm-12">
                    
                                    <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone">
                               </div>

                                <div class="col-md-12 col-sm-12">
                        
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Your Email">
                               </div>

                               <div class="wow fadeInUp" data-wow-delay="0.8s">
                                <div class="col-md-12 col-sm-12">
                                     <label for="name">Photo</label>
                                     <input type="file" class="form-control" id="image" name="image" placeholder="Image" onchange="check()">
                                </div>
   

                             <div class="col-md-12 col-sm-12">
                            
                                <input type="text" class="form-control" name="adhar" placeholder="Adhar">    
                                  
                                  <button class="form-control" id="cf-submit" name="submit">Submit</button>
                             </div>
                        </div>
                  </form>
              </div>

         </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>


