<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
         
<script>
     function valid()
     {
     if(form.event.value=="")
     {
        alert("**Enter Event**"); 
        form.event.focus();
        return false;
     }
     if(!isNaN(form.event.value))
     {
         alert("** Fill the event in characters **");
         form.event.focus();
         return false;
     }
     
     if(form.image.value=="")
     {
        alert("**Please upload Photo**"); 
        form.image.focus();
        return false;
     }
     if(form.eventdate.value=="")
     {
        alert("**Enter Date**"); 
        form.eventdate.focus();
        return false;
     }
         enterDate=new Date(form.eventdate.value);
         curDate= new Date();
         if(curDate<enterDate)
         {
             alert("Invalid Date");
             form.eventdate.focus();
             return false;
         }
     return true;
 }
 function check()
 {
     var image = document.getElementById("image");
     var size =parseFloat(image.files[0].size / (1024)).toFixed(50); 
     if(size > 50 ) {
     alert("Please select image size less than 50 kb");
     }
 }
     </script>
    
</head>

<body>

     {% include "adminmenu.html" %}


    <!-- MAKE AN APPOINTMENT -->
 <section id="appointment" data-stellar-background-ratio="3">
    <div class="container">
         <div class="row">

              <div class="col-md-6 col-sm-6">
                   <img src="{% static 'images/mentalform01.webp' %}" width="620px" height="480px" class="img-responsive1" alt="">
              </div>

              <div class="col-md-6 col-sm-6">
                   <!-- CONTACT FORM HERE -->
                   <form id="appointment-form" name="form" onsubmit="return valid()" role="form" method="post" enctype="multipart/form-data" action="/add_event/">
                         {% csrf_token %}
                        <!-- SECTION TITLE -->
                        <div class="section-title wow fadeInUp" data-wow-delay="0.4s">
                             <h2>&nbsp;Event</h2>
                        </div>

                        <div class="wow fadeInUp" data-wow-delay="0.8s">
                            <div class="col-md-12 col-sm-12">
                                <label for="eventid">Event Id</label>
                                 <input type="text" class="form-control" id="expid" name="eventid" value="{{data}}" placeholder="Id">
                            </div>

                        <div class="wow fadeInUp" data-wow-delay="0.8s">
                             <div class="col-md-12 col-sm-12">
                                <label for="select">Event</label> 
                                  <input type="text" class="form-control" id="name" name="event" placeholder="Event">
                             </div>                             


                               <div class="wow fadeInUp" data-wow-delay="0.8s">
                                <div class="col-md-12 col-sm-12">
                                     <label for="photo">Photo</label>
                                     <input type="file" class="form-control" id="image" name="image" placeholder="Image" onchange="check()">
                                </div>
   

                             <div class="col-md-12 col-sm-12">
                                <label for="date">Date</label>
                                <input type="date" class="form-control" name="eventdate" placeholder="Date">    
                                  <button class="form-control" id="cf-submit" name="submit">Submit</button>
                             </div>
                        </div>
                  </form>
              </div>

         </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>


