<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/table.css' %}">

</head>
<body>

    {% include "adminmenu.html" %}

    <h2>Question Table</h2>
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th>Question Number</th>
            <th>Question</th>
            <th>Status</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
            {% for value in data1 %}
        <tr>
            
            <td>{{value.question_no}}</td>
            <td>{{value.question}}</td>
            <td>{{value.status}}</td>
            <td><a href="/remove_question/{{value.question_no}}">Delete</a></td>

        </tr>
        {% endfor %}
        <tbody>
    </table>
</div>
</body>
</html>