<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/table.css' %}">

</head>
<body>

    {% include "expmentalabilitymenu.html" %}

    <h2>Webinar Table</h2>
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th>Expert Name</th>
            <th>Topic</th>
            <th>Webinar Date</th>
            <th>Status</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
            {% for value in data %}
        <tr>
            
            <td>{{value.expert_id.expert_name}}</td>
            <td>{{value.Topic}}</td>
            <td>{{value.webinardate}}</td>
            <td>{{value.status}}</td>
            <td><a href="/removewebinar1/{{value.webinar_id}}">Delete</a></td>

        </tr>
        {% endfor %}
        <tbody>
    </table>
</div>
</body>
</html>