<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/table.css' %}">

</head>
<body>

    {% include "expmentalabilitymenu.html" %}

    <h2>Video Table</h2>
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th>Expert Name</th>
            <th>Uploaded Date</th>
            <th>Category</th>
            <th>Video</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
            {% for value in data %}
        <tr>
            
            <td>{{value.expert_id.expert_name}}</td>
            <td>{{value.uploaded_date}}</td>
            <td>{{value.category}}</td>
            <td><video width="100px" height="100px" controls="controls"/>                   
                <source src="{{value.video}}" type="video/mp4"> 
            </video></td>
            <td><a href="/removevideomental1/{{value.video_id}}">Delete</a></td>

        </tr>
        {% endfor %}
        <tbody>
    </table>
</div>
</body>
</html>